version: "3"
services:
  blog:
    ports:
      - "2368:2368"
    image: ghost:3-alpine
    container_name: ghost
    volumes:
      - ghost_apps:/var/lib/ghost/content/apps
      - ghost_data:/var/lib/ghost/content/data
      - ghost_images:/var/lib/ghost/content/images
      - ghost_themes:/var/lib/ghost/content/themes
    restart: always
    container_name: ghost

volumes:
   ghost_apps:
    external: true
   ghost_data:
    external: true
   ghost_images:
    external: true
   ghost_themes:
    external: true
