version: "2"
services:
  blog:
    ports:
      - "12368:2368"
    image: ghost:latest
    container_name: ghost
    volumes:
      - ghost_apps:/var/lib/ghost/content/apps
      - ghost_data:/var/lib/ghost/content/data
      - ghost_images:/var/lib/ghost/content/images
      - ghost_themes:/var/lib/ghost/content/themes
    restart: always

volumes:
   ghost_apps:
    external: true
   ghost_data:
    external: true
   ghost_images:
    external: true
   ghost_themes:
    external: true
